.consentPopup {
    background-color: #b6ff00;
    border-radius: 20;
    margin: 10 0 10 0;
}

.consentPupupTitle {
    font-weight: bold;
    color: #04b20d;
}

.consentRationale {
    color: #04b20d;
}

.separator {
    height: 2;
    color: #808080;
}

.requestContainer {
    padding: 30 10 30 10;
}

.consentSwitch {

}

.consentDescription {

}

.confirmationButton {
    background-color: #00ff90;
    color: white;
    font-weight: bold;
    border-radius: 10;
}